@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #000;
}

.space-30{
    padding: 3rem 0;
}

.top_padding{
    padding: 5rem 0;
}
.space-50{
    padding: 5rem 0;
}

.space-80{
    padding: 8rem 0 5rem;
}

.mt_4{
    margin-top: -10rem;
}
.mt_3{
    margin-top: -4.7rem;
}
.bg_green{
    background-color: transparent;
    background-image: linear-gradient(90deg, #4fb948 0%, #4fb948 100%);
}

.gradient_green{
    background-color: transparent;
    background-color: #052501;
}

.navbar-brand{
    width: 10%;
}

.menu{
    margin: 0 auto;
}
.menu .nav-item{
    padding: 0 1rem;
}
.menu a{
    margin-top: 1rem;
}
.green_bg{
    background-color: #318162;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #F9B75D;
}

.visit_btn{
    padding: 0.7rem 2rem;
    background-color: #052501;
    font-weight: 700;
    margin-top: 0.8rem;
}
.d-mob{
    display: none;
}
.heading h1, h3{
    color: #132F3A;
    font-size: 2.8rem;
    font-weight: 800;
}
.heading p{
    font-size: 1.2rem;
    color: #45575B;
    text-align: left;
}
.p-left{
    padding: 0 7rem 0 10rem;
}
.p-right{
    padding: 0 5rem;
}
.schedule_btn{
    background-color: #4fb948;
    padding: 0.8rem 2rem;
    color: #fff;
    font-weight: 700;
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.bg-pink{
    background-color: #9f9e9e22;
}
.video_2{
    float: right;
    position: relative;
    height: 300px;
    margin-top: -20%;
}
.qoute i{
    font-size: 4rem;
    color: #052501;
}
.banner_green{
    background-color: #052501;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.bgpink2{
    background-color: #f2f2f2;
    padding: 0.8rem;
    border-radius: 0.2rem;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}
.small_iconss{
    height: 34rem;
}
.small_icons .bg-pink{
    padding: 3rem 2rem;
    background-color: #9f9e9e22;
}
.small_icons img{
    width: 20%;
}
.small_icons h4{
    font-weight: 700;
    padding: 1.5rem 0;
    font-size: 1.7rem;
}
.small_icons p{
    color: #45575B;
    font-size: 1.2rem;
}
.gray_color{
    color: #45575B;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
    color: #4fb948;
}

.accordion-button:not(.collapsed),
.accordion-button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
}
.accordion-button::after {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: rgba(244, 49, 49, 0.868);
  background-image: none !important;
}
.accordion-button.collapsed::after {
  background-color: #4fb948;
}
.accordion-body{
    font-size: 1.2rem;
    padding: 1rem 3rem;
}
.accordion-flush .accordion-item .accordion-button{
    border-radius: 2rem !important;
    background: #9f9e9e22;
    padding: 1.5rem 2rem;
    color: #000;
    font-weight: 700;
    font-size: 1.1rem;
}

.accordion-flush .accordion-item .accordion-button:hover{
background-image: linear-gradient(180deg, #4fb948 0%, #589E56 100%);
color: white;
}

.mdoal_logo{
width: 30%;
transform: translate(110%, 0%);
}
.form-group{
    margin-bottom: 1rem;
}

#contactForm input{
    padding: 0.5rem 3rem !important;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #fff;
    border-bottom: 2px solid #318162;
}


.bannerimg{
    height: 100vh;
    width: 100%;
}
.modal-logo{
    transform: translate(114%, -6%);
    width: 30%;
}
.slick-slider1 .element{
    height:100%;
    width:100%;
    display:inline-block;
    margin:0px 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
  }
  .slick-slider img{
    border-radius: 1rem;
  }
.slick-slider1 button{
    background-color: #052501;
    color: white;
    font-weight: 600;
    padding: 0.3rem 2rem;
    border: 0;
    border-radius: 0.3rem;
    margin: 2rem 1rem 0 0;
}
.slick-slider11 .element{
    height:100%;
    width:100%;
    display:inline-block;
    margin:0px 10px;
    text-align: center;
  }
  .slick-slider11 img{
    border-radius: 1rem;
  }
.slick-slider11 button{
    background-color: #ffffff;
    color: #4fb948;
    font-weight: 700;
    padding: 0.3rem 2rem;
    border: 0;
    border-radius: 0.3rem;
    margin: 2rem 1rem 0rem 0;
}
.zoom {
    overflow: hidden;
    padding: 0;
    border-radius: 0.5rem;
  }

  .zoom img {
    transition-duration: 4s;
    margin: 0 auto;
    display: block;
  }

  .zoom img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
  }
  .banner2{
    background-image: url('https://cdn.propstory.com/magicpages/NAME/16iwl4kml4lq0wondx5799725.jpg');
    background-position: center center;
    background-size: cover;
    height: auto;
    opacity: 0.4;
    background-repeat: no-repeat;
  }


@media (max-width:768px){
    iframe{
        height: 200px;
    }
    .small_iconss{
        height: auto !important;
    }
    .bannerimg{
        height: auto;
        margin-top: 5rem;
    }
    .d-desk{
        display: none;
    }
    .d-mob{
        display: block;
    }
    .navbar-brand {
        width: 28%;
    }
    .space-50, .space-80 {
        padding: 2rem 0 2rem;
    }
    .video_2{
        width: 100%;
        height: auto;
        padding-bottom: 2rem;
        margin-top: 2rem;
    }

    .heading h1, h3{
        font-size: 2.2rem
    }
    .menu{
        position: absolute;
        background: #4fb948;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
        color: #ffffff;
        /* background-color: #223f92ab; */
        padding-left: 1em;
    }
    .navbar-light .navbar-nav .nav-link{
        padding-left: 1rem;
        color: #fff;
    }
    .p-left, .p-right, .menu .nav-item, .space-30, .top_padding{
        padding: 0;
    }
    .qoute{
        padding: 0rem 1rem 2rem
    }
    .bgpink2{
        display: block;
        height: 8rem;
        padding: 0.5rem 1rem;
        text-align: center;
        width: 100%;
    }
    .bgpink2 img{
        padding-bottom: 1rem;
        margin: 0 auto;
    }
    .slick-slider .element{
        height:100%;
        width:100%;
        display:inline-block;
        margin:0px 10px;

      }

      .download-btn {
        position: fixed;
        z-index: 9999;
        bottom: 44% !important;
        transform: rotate( 270deg);
        /* left: initial; */
        right: -63px !important;
        font-size: 15px !important;
        background: #4fb948;
        border: none;
        margin: 30px auto 0px;
        color: #fff;
        border: 2px solid;
        /* padding: 8px 12px 10px 12px; */
        border-radius: 0px;
        font-weight: 600;
        outline: none !important;
        display: block;
    }
    .download-btn:hover{
        border: 1px solid #fff;
    }
      
      .slick-slider button{
        display: none !important;
      }
      .small_icons .bg-pink{
        margin-bottom: 2rem;
    }
    

}

.call_float_button{
  position:fixed;
  width:40px;
  height:40px;
  bottom:80px;
  right:80px;
  font-size: 23px;
  color: white;
  background-color: #00acee;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
}

.desktop_call_button{
  display: block;
}
.mobile_call_button{
  display: none;
}

.rangeSlider {
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      height: 15px; /* Specified height */
      background: #d3d3d3; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }
    
    /* Mouse-over effects */
    .rangeSlider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }
    
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .rangeSlider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 20px; /* Set a specific slider handle width */
      height: 15px; /* Slider handle height */
      background:blue; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    
    .rangeSlider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    .modalLabel {
      font-size:12px;
      margin-left:15px
    }



@media all and (max-width: 700px){
  .desktop_call_button{
      display: none;
  }
  .mobile_call_button{
      display: block;
  }
  .call_float_button{
      bottom:80px;
      right:40px;
  }
}

* {
    margin: 0;
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #052501;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  .bgpink2 i {
    font-size: 2.5rem; /* Adjust this value as needed */
  }
  